body{
    background: lemonchiffon;
}
#manual{
    width: 400px;
    height: 260px;
    background-color: yellowgreen;
    border: 3px solid lawngreen;
    border-radius: 6px;
    margin: 30px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#manual, p{
    padding: 15px;
}

